@import "tailwindcss";

:root {
  --background: #090909;
  --surface: #151515;
  --gold: #c9a14a;
  --text: #f5f5f5;
  --muted: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

/* Minimal Cinematic Scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(201, 161, 74, 0.45) transparent;
}

/* Chrome, Edge & Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(201, 161, 74, 0.35);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(201, 161, 74, 0.65);
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.movie-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(201, 161, 74, 0.35) transparent;
}

.movie-scroll::-webkit-scrollbar {
  width: 5px;
}

.movie-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.movie-scroll::-webkit-scrollbar-thumb {
  background: rgba(201, 161, 74, 0.35);
  border-radius: 999px;
}

.movie-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(201, 161, 74, 0.65);
}